@import "color";


#animation_container{
    
    z-index: 0;
    position: absolute;


    bottom: 40px;

}

.bubbles{

    position: relative;
    display: flex;


}

.bubbles span{

    position: relative;
    width: 35px;
    height: 35px;
    background-color: $main-color;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba($main-color, $alpha: 0.5), 
                0 0 50px $main-color, 
                0 0 100px $main-color;
    animation: animate 15s linear infinite;
    animation-duration: calc(150s / var(--i));


}

.bubbles span:nth-child(even){

    background-color: $third-color-clair;    
    box-shadow: 0 0 0 10px rgba($third-color-clair, $alpha: 0.5), 
                0 0 50px $third-color-clair, 
                0 0 100px $third-color-clair;



}

@keyframes animate {

    0%{

        transform: translateY(100px) scale(0);

    } 

    100%{

        transform: translateY(-1050px) scale(1)

    }

}