@import "color";


.material-icons_carousel{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 120px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: $third-color;
 
    background-clip: text;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.material-icons_carousel:hover{

  color: orange;

}


.carousel-container {
width: 85%;
margin: auto;
margin-top: 80px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
overflow: hidden;
height: 650px;
border-radius: 25px;
position: relative;
}


.carousel-item{

height: 650px;
min-width: 100%;
width: 100%;
display: flex;
justify-content: center;
transition: 1s cubic-bezier(0.39,0.575,0.565,1);
object-fit: cover;
object-position: center;
background-color: $gray-color;



}

.carousel-item img {

max-width: 100% ;

}



.indicators {
display: flex;






position: absolute;

z-index: 100;

}

.indicators > span {

margin: 5px;

}

.number_carousel{

position:absolute;
top: 90%;
left: 50%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */



color: $main-color;
padding: 5px;
border-radius: 5px;
background-color: rgba($secondary-color, $alpha: 0.8);




}

.description_carousel{

position: absolute;
bottom: 60px;
font-size: 20px ;
padding: 10px;
border-radius: 15px;
color: white;
background-color: rgba($secondary-color, $alpha: 0.8);

}




@media screen and (max-width: 1000px){


.material-icons_carousel{


font-size: 70px;


}

.carousel-container{


height: 505px;

}

.description_carousel{

font-size: 15px;
bottom: 0px;

}


.carousel-item{


height: 505px;

}

.desktop_img{

  height: 300px;
  margin: auto;

}




.number_carousel{

display: none;

}





}

@media screen and (max-width: 500px){

  .desktop_img{

    height: 180px;

  
  }


}
