#contact {
  width: 100%;
  background-color: #0f1b2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  margin: auto;
  padding-top: 50px;
  height: 1000px;
}

#contact a {
  color: white;
}

#contact p {
  margin: 0;
}

#contact h3 {
  font-size: 50px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

#contact #message_intro_contact {
  font-size: 25px;
  color: white;
}

#contact #contact_containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#contact #contact_containers #contact_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

#contact #contact_containers #contact_infos .contact_infos_containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

#contact #contact_containers #contact_infos .contact_infos_containers:hover .contact_infos_icon {
  background-color: #996402;
  color: white;
}

#contact #contact_containers #contact_infos .contact_infos_containers .contact_infos_icon {
  min-width: 60px;
  height: 60px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  -webkit-transition: background-color 0.5s ease-out, color 0.5s ease-out;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
  color: black;
}

#contact #contact_containers #contact_infos .contact_infos_containers .contact_infos_icon a {
  color: black;
}

#contact #contact_containers #contact_infos .contact_infos_containers .contact_infos_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 0px 20px;
}

#contact #contact_containers #contact_infos .contact_infos_containers .contact_infos_infos h4 {
  font-size: 1.50em;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: #ffae00;
}

#contact #contact_containers #contact_infos .contact_infos_containers .contact_infos_infos p {
  font-size: 1em;
  color: white;
}

#contact #contact_containers #contact_infos #contact_infos_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

#contact #contact_containers #contact_infos #contact_infos_social:hover #contact_infos_social_text :nth-child(1) {
  width: 50px;
  background-color: #ffae00;
}

#contact #contact_containers #contact_infos #contact_infos_social #contact_infos_social_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#contact #contact_containers #contact_infos #contact_infos_social #contact_infos_social_text :nth-child(1) {
  margin-top: 2px;
  width: 30px;
  height: 21px;
  background-color: white;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

#contact #contact_containers #contact_infos #contact_infos_social #contact_infos_social_text h4 {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

#contact #contact_containers #contact_infos #contact_infos_social #contact_infos_social_icon {
  font-size: 1.75em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

#contact #contact_containers #contact_infos #contact_infos_social #contact_infos_social_icon :nth-child(1), #contact #contact_containers #contact_infos #contact_infos_social #contact_infos_social_icon :nth-child(2) {
  cursor: pointer;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

#contact #contact_containers #contact_infos #contact_infos_social #contact_infos_social_icon :nth-child(1):hover, #contact #contact_containers #contact_infos #contact_infos_social #contact_infos_social_icon :nth-child(2):hover {
  color: #ffae00;
}

#contact #contact_containers #contact_form {
  width: 500px;
}

@media screen and (max-width: 1000px) {
  #contact {
    height: auto;
    padding-bottom: 100px;
  }
  #contact #message_intro_contact {
    text-align: center;
  }
  #contact #contact_containers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}
/*# sourceMappingURL=Contact_styles.css.map */