@import "color";

#fs-frm{

display: flex;
flex-direction: column;
width: 450px;
background-color: $main-color;
align-items: baseline;
margin: 0px;
padding: 0px;



}

#fs-frm h3 {

    padding: 30px 0px 30px 0px;
    margin: 0;
    font-size: 30px;

    color: $third-color;



}

#fs-frm-inputs{

    display: flex;
    flex-direction: column;
    gap: 30px;
    border: none;
    padding: 0px;
    margin: 0px;
}

input{


    padding: 10px 10px 10px 0px;
    margin: 0px;

    border: none;
    outline: none;


}

.inputbox{

position: relative;


}

.text_input{

    border-bottom: solid $fourth-color 2px;
    background-color: rgba(255, 255, 255, 0);
    color: $third-color;
    font-size: 20px;
    padding-right: 50px;
    width: 100%;



}

label{

position: absolute;
top: 5px;
left: 0px;
pointer-events: none;

font-size: 20px;
color: $label-color;
transition: 0.5s;


}

.text_input:focus ~ label{

color: $third-color;
font-size: 15px;
transform: translateY(-20px);

}

.text_input:valid ~ label{

    color: $third-color;
    font-size: 15px;
    transform: translateY(-20px);
    
    }




textarea{


    padding: 10px 100px 10px 0px;
    border: none;
    border-bottom: 2px $fourth-color solid ;
    resize: none;
    outline:0px none transparent;



}



#submit_button{


color: $main-color;
background-color: $third-color;
margin: 30px;
padding: 15px 20px 15px 20px;
font-size: 20px;

border: solid 2px rgba($third-color, 0px);
transition: all 0.5s ease-out;

}

#submit_button:hover{

    color: $third-color;
    background-color: $main-color;
    border: solid 2px $third-color;

}
