@import "color";


#header_nav{

position: fixed;
z-index: 1000 ;
background-color: $main-color;
width: 100%;

transform: translateY(-60px);


}



#header_nav.active {

transform: translateY(0px);

    
    
}

li, #header_nav{


    transition: transform 0.5s ease-out;
    
}
    


#ul_header{

    position: absolute;
    width: 100%;
    display: flex;


    background-color: $main-color;

    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    padding: 0px;


}



#ul_header li a{

    display: block;
    padding: 10px;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */
    
    margin: auto;
    white-space: nowrap;

    
    color: $secondary-color;
    transition: color 0.5s ease-out 10ms;
    text-align: center;
    transition: 0.5s;


}

#ul_header li{

width: 150px;

}

#ul_header li a:hover{

    color: $third-color;

}

#ul_header li.active{

    background-color: $secondary-color;

}

#ul_header li.active a {

 color: white ;

}

.slide{

position:absolute;
background:$secondary-color;
z-index: -1;
transition: 0.5s;
opacity: 0;
width: 150px;
height: 100%;

}

#ul_header li:nth-child(1).active ~ .slide{

    left: 0;
    opacity: 1 ;

}

#ul_header li:nth-child(2).active ~ .slide{

    left: 150;
    opacity: 1 ;

}

#ul_header li:nth-child(3).active ~ .slide{

    left: 300;
    opacity: 1 ;

}


@media screen and (max-width: 750px){



    
}


