html{

	scroll-behavior: smooth;

}


body{

    margin: auto;
    padding: 0;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;


}
    
    


#root{

display: flex;
flex-direction: column;


width: 100%;
height: 100%;


}

/* Modification de la barre de défilement*/

/* Chrome, Edge,...*/

body::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(199, 199, 199); /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #3A559A; /* color of the scroll thumb */
    border-radius: 10px; /* roundness of the scroll thumb */
    border: 2px solid rgb(190, 190, 190); /* creates padding around scroll thumb */
}

/*Mozila firefox*/

body {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #3A559A rgb(133, 133, 133); /* scroll thumb and track */
}


a{

text-decoration: none;

}

ul{


list-style: none;

}

li{

list-style: none;

}

